@page "/calculator"

<h1>Calculator</h1>


@code {
	/*string addition = string.Empty;
		string subtraktion = string.Empty;
		string multiplication = string.Empty;
		string divition = string.Empty;
		string circleRadius = string.Empty;

		protected override void OnInitialized()
			{
			int value1 = 10, value2 = 20;
			double result = value1 + value2;
			double radius = 10;

			addition = $"{value1} + {value2} = {result}";

			result = value1 - value2;
			subtraktion = $"{value1} - {value2} = {result}";

			result = value1 * value2;
			multiplication = $"{value1} * {value2} = {result}";

			result = (double)value1 / value2;
			divition = $"{value1} / {value2} = {result}";

			result = 2 * radius * Math.Round(double.Pi, 4);
			circleRadius = $"{2} * {radius} * {Math.Round(double.Pi, 4)} = {result}";

		}*/
	/*int value1 = 0, value2 = 0;
	string addition = string.Empty;
	string subtraktion = string.Empty;
	string multiplication = string.Empty;
	string divition = string.Empty;
	void Add()
	{
		double result = value1 + value2;
		addition = $"{value1} + {value2} = {result}";
	}
	void Subtract()
	{
		double result = value1 - value2;
		subtraktion = $"{value1} - {value2} = {result}";
	}
	void Multiplicate()
	{
		double result = value1 * value2;
		multiplication = $"{value1} * {value2} = {result}";
	}
	void Divide()
	{
		double result = (double)value1 / value2;
		divition = $"{value1} / {value2} = {Math.Round(result, 3)}";
	}*/

}
-